<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="/static/css/default.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="/static/js/validator.min.js"></script>
</head>
<body>
    <div class="confirm"><h1>第十三届全国机器翻译研讨会（CWMT2017）会议注册
        <span>会议网址：<a href="http://ee.dlut.edu.cn/CWMT2017/">http://ee.dlut.edu.cn/CWMT2017/</a><br />
            时间：2017年9月27-29日<br/>
            地点：大连市，国网辽宁省电力有限公司大连培训中心<br/>
            主办单位：中国中文信息学会<br/>
            承办单位：大连理工大学
        </spans>
    </h1>
    <h2>
        注册费说明
    </h2>
    <table class="payment" align="center">
        <tr>
            <th colspan="2">注册人员类型</th>
            <th>9月15日之前(含15日)</th>
            <th>9月15日之后</th>
        </tr>
        <tr>
            <td rowspan="2">学会会员</td>
            <td>普通</td>
            <td>1600元</td>
            <td>1700元</td>
        </tr>   
        <tr >
           <td>学生</td>
            <td>1000元</td>
            <td>1100元</td>

        </tr>
        <tr>
            <td rowspan="2">非学会会员</td>
            <td>普通</td>
            <td>1800元</td>
            <td>1900元</td>
            

        </tr>   
        <tr>
           <td>学生</td>
            
            <td>1200元</td>
            <td>1300元</td>
        </tr>   
    </table>
    <h2>
        注册交费方式

    </h2>

    <table class="payment" align="center">
        <tr>
            <th>缴纳方式</th>
            <th>具体信息</th>
            <th>注意事项</th>
        </tr>
        <tr>
            <td>银行转帐</td>
            <td>开户银行：工商行北京市分行海淀西区支行<br />户        名：中国中文信息学会<br />账        号：0200004509014415619</td>
            <td>请在附言中注明<strong>CWMT+姓名</strong>，例如：“CWMT+张三”，多人一起交费：“CWMT+张三+李四+王五+...”</td>
        </tr>   
        <tr class="alt">
            <td>办公室缴纳</td>
            <td>地        址：北京海淀区中关村南四街4号院7号楼201房间<br />联系电话：010-62562916</td>
            <td></td>

        </tr>
        <tr>
            <td>支付宝账号转账</td>
            <td>户        名：中国中文信息学会<br />账        号：cips_pay@163.com</td>
            <td>请在付款说明中注明<strong>CWMT+姓名</strong>，例如：“CWMT+张三”，多人一起交费：“CWMT+张三+李四+王五+...”</td>
        </tr>   
        <tr class="alt">
            <td>现场缴费</td>
            <td>现金或刷卡</td>
            <td>会后邮寄发票</td>
        </tr>   
    </table>
</div>


<form action="" method="post" class="basic-grey" id="test">
     <h1>
        注册信息
    </h1>
    <label>

        <span>姓名<span style="color:red">*</span>: </span>
        <input id="name" type="text" name="name"/>
        <div id="name_err" class="error_msg"></div>
    </label>

    <label>
        <span>性别<span style="color:red">*</span>: </span>
        <input type="radio" value="male" name="sex" id="sex">男
        <input type="radio" value="female" name="sex" id="sex">女
        <div id="sex_err" class="error_msg"></div>
    </label>
    <br/>
    
    <label>
        <span>手机号码<span style="color:red">*</span>:</span>
        <input id="phone" type="tel" name="phone"/>
        <div id="phone_err" class="error_msg"></div>
    </label><br/>

    <label>
        <span>邮箱<span style="color:red">*</span>:</span>
        <input id="email" type="email" name="email"/>
        <div id="email_err" class="error_msg"></div>
    </label><br/>
    <label>
        <span>发票类型<span style="color:red">*</span>：</span>
        <input type="radio" value="normal" name="invoice_type" onclick=toggle4() id="invoice_type">增值税普通发票
        <input type="radio" value="sp" name="invoice_type" onclick=toggle5() id="invoice_type">增值税专用发票（仅对企业一般纳税人）
        <div id="invoice_type_err" class="error_msg"></div>
    </label><br />
    <label>
        <span>发票抬头<span style="color:red">*</span>:</span>
        <input id="invoice" type="text" name="invoice"/>
        <div id="invoice_err" class="error_msg"></div>
    </label><br/>

    <label>
        <span>发票纳税人识别号<span style="color:red">*</span>:</span>
        <input id="tax_id" type="text" name="tax_id"/>
        <div id="tax_id_err" class="error_msg"></div>
    </label><br/>
    <div style="display:none" id = "invoice_info">
    <label>
        <span>公司地址<span style="color:red">*</span>:</span>
        <input id="address" type="text" name="address"/>
        <div id="address_err" class="error_msg"></div>
    </label><br/>
    <label>
        <span>电话<span style="color:red">*</span>:</span>
        <input id="invoice_tel" type="text" name="invoice_tel"/>
        <div id="invoice_tel_err" class="error_msg"></div>
    </label><br/>
    <label>
        <span>开户银行<span style="color:red">*</span>:</span>
        <input id="invoice_bank" type="text" name="invoice_bank"/>
        <div id="invoice_bank_err" class="error_msg"></div>
    </label><br/>
        <label>
        <span>账号<span style="color:red">*</span>:</span>
        <input id="invoice_id" type="text" name="invoice_id"/>
        <div id="invoice_id_err" class="error_msg"></div>
    </label><br/>
</div>
    <label>
        <span>工作单位<span style="color:red">*</span>:</span>
        <input id="id" type="text" name="id"/>
        <div id="id_err" class="error_msg"></div>
    </label><br/>


    <label>
        <span>论文ID:</span>
        <input id="paper_id" type="text" name="paper_id"/>
        <div id="paper_id_err" class="error_msg"></div>
    </label>
<br/>

    <label>
        <span>住宿方式<span style="color:red">*</span>: </span>

        
        <input type="radio" value="single" name="stay" id="stay" onclick=toggle3()>单人间（360元/晚）
        <!-- <input type="radio" value="single2" name="stay" id="stay" onclick=toggle3()>单人双标间（360元/晚） -->
        <input type="radio" value="multi" name="stay" id="stay" onclick=toggle1()>双人双标间（380元/晚）
    <input type="radio" value="multi2" name="stay" id="stay" onclick=toggle1()>豪华套房（60平方米）（680元/晚）
    <input type="radio" value="no" name="stay" onclick=toggle2() id="stay">自行解决
        <div id="stay_err" class="error_msg"></div>
    </label>
    <br/><div id="dm_name" style="display:none">
    <label><span>合住人姓名<span style="color:red">*</span>：</span>
     
            
            <input type="text" name="m_name" id="m_name">
            

             <div id="m_name_err" class="error_msg"></div>
        </label></div> 
<div id="stay_time">
    <label >
        <span>入住日期<span style="color:red">*</span>:</span>
        <input type="date" name="in_date" style="margin-bottom: 10px" id="in_date">
        <div id="in_date_err" class="error_msg"></div><br />
    </label>
    <label >
        <span>离店日期<span style="color:red">*</span>:</span>
        <input type="date" name="out_date" style="margin-bottom: 10px" id="out_date">
        <div id="out_date_err" class="error_msg"></div><br />
    </label>
</div><br/>
    <label>
        <span>注册类型(若您还不是中文信息学会会员，可先前往<a href="http://www.cipsc.org.cn/huiyuan.php">中文信息学会网站</a>加入会员再进行注册，即可享受会员价格。)<span style="color:red">*</span>:</span><select name="type" id="type">
      <!--   <option value="mg1">普通会员-9月15日前缴费-1600元</option>
        <option value="ms1">学生会员-9月15日前缴费-1000元</option>
        <option value="nms1">非会员学生-9月15日前缴费-1100元</option>
        <option value="nmg1">非学生非会员-9月15日前缴费-1700元</option>

        <option value="mg2">普通会员-9月15日后缴费-1800元</option>
        <option value="ms2">学生会员-9月15日后缴费-1200元</option>
        <option value="nms2">非会员学生-9月15日后缴费-1300元</option>
        <option value="nmg2">非学生非会员-9月15日后缴费-1900元</option> -->
    </select>
    </label><br/>
    
    <br />
    <label>
        <span>&nbsp;</span>
        <input type="button" class="button" value="提交" onclick="vali()"/>
    </label>
    <input type="hidden" name="time" id="time"/>
</form>


<div class="confirm" id="confirm" style="display:none">
    <h1>
        第十三届全国机器翻译研讨会（CWMT2017）注册确认
    </h1>
    <h2>
        注册确认信息
    </h2>
    <p id="information"></p><br />
    
    <br />
</div>
<script type="text/javascript">
var j=0;
var left = new Date()-new Date(2017,9,16,0,0,0);
var s_type = document.getElementById("type");
if (left<0){
    
    s_type.options.add(new Option("普通会员-1600元","mg1"));
    s_type.options.add(new Option("学生会员-1000元","ms1"));
    s_type.options.add(new Option("学生-注册会员-1060元（注册成为会员）"));
    s_type.options.add(new Option("普通-注册会员-1720元（注册成为会员）"));
    s_type.options.add(new Option("非会员学生-1200元","nms1"));
    s_type.options.add(new Option("非会员非学生-1800元","nmg1"));

}else{
    s_type.options.add(new Option("普通会员-1700元","mg2"));
    s_type.options.add(new Option("学生会员-1100元","ms2"));
    s_type.options.add(new Option("学生-注册会员-1160元（注册成为会员）"));
    s_type.options.add(new Option("普通-注册会员-1820元（注册成为会员）"));
    s_type.options.add(new Option("非会员学生-1300元","nms2"));
    s_type.options.add(new Option("普通会员-1900元","nmg2"));
}
    function getValue(radio_name){
        radios = document.getElementsByName(radio_name);
        for (var i=0;i<radios.length;i++){
            if (radios[i].checked){
                return radios[i].value;
            }
        }
        return null;
    }
    function toggle1() {
        d = document.getElementById("dm_name");

        d.style.display = "block";
        d2 = document.getElementById("stay_time");
        d2.style.display = "block";
    }
    function toggle2() {
        d = document.getElementById("dm_name");

        d.style.display = "none";
          d2 = document.getElementById("stay_time");
        d2.style.display = "none";
    }
    function toggle3(){
        d = document.getElementById("dm_name");
        d.style.display = "none";
          d2 = document.getElementById("stay_time");
        d2.style.display = "block";
    }
    function toggle4(){
        d = document.getElementById("invoice_info");
        d.style.display = "none";
    }
    function toggle5(){
        d = document.getElementById("invoice_info");
        d.style.display = "block";
    }
    function vali() {
        var tele = document.getElementById("time");
        tele.value = new Date().toLocaleString();
        var names = ["name", "sex", "phone", "email", "invoice", "tax_id", "id", "stay","invoice_type","address","invoice_tel","invoice_bank","invoice_id","in_date","out_date","m_name"];
        var all_names = ["name","sex", "phone", "email", "invoice", "tax_id", "address","id","paper_id", "stay","in_date","out_date","type","time","m_name","invoice_type","invoice_tel","invoice_bank","invoice_id"]
        for (var i = 0; i < names.length; i++) {
            var name = names[i] + "_err";
            var ele = document.getElementById(name);
            ele.style.display = "none";
        }
        v_rules = [
            {
                name: 'name',
                display: "请输入姓名",
                rules: 'required'
            }, {
                name: 'sex',
                display: "请选择性别",
                rules: 'required'
            }, {
                name: 'phone',
                display: "手机号码不能为空|你输入的不是合法手机号码",
                rules: 'required|is_phone'
            }, {
                //name 字段
                name: 'email',
                display: "邮箱不能为空|你输入的不是合法邮箱",
                // 验证条件
                //rules: 'is_email|max_length(12)|required|'
                rules: 'required|is_email'
            }, {
                name: 'invoice',
                display: "请输入发票抬头",
                rules: 'required'
            }, {
                name: 'tax_id',
                display: "请输入发票纳税人识别号",
                rules: 'required'
            },  {
                name: 'id',
                display: "工作单位不能为空",
                
                rules: 'required'
            }, {
                name: 'stay',
                display: "请选择住宿方式",
                rules: 'required'
            },{
                name:'invoice_type',
                display:'请选择发票类型',
                rules:'required'
            }

        ];
        if (getValue("stay")!="no"){
            v_rules.push({
                name:'in_date',
                display:"请选择入住日期",
                rules:'required'
            },{
                name:'out_date',
                display:"请选择离店日期",
                rules:'required'
            });
        }
        if (getValue("stay") == "multi"){
            v_rules.push({
                name:"m_name",
                display:"请填写合住人姓名，如果没有请填写无",
                rules:'required'
            });
        }
        if (getValue("invoice_type") == "sp"){
            v_rules.push({
                name:'address',
                display:"请填写发票邮寄地址",
                rules:'required'
            },{
                name:'invoice_tel',
                display:"请填写电话",
                rules:'required'
            },{
                name:'invoice_bank',
                display:"请填写开户银行",
                rules:'required'
            },{
                name:'invoice_id',
                display:"请填写账号",
                rules:'required'
            })
        }
        var validator = new Validator('test', v_rules, function (obj, evt) {
            if (obj.errors.length > 0) {

                for (var i = 0; i < obj.errors.length; i++) {
                    var error_str = obj.errors[i].message;
                    var name = obj.errors[i].name;

                    var ele = document.getElementById(name + "_err");
                    if (ele == null){
                        console.log(name);
                    }
                    ele.style.display = "inline";
                    ele.innerHTML = error_str

                }

            }
            else {
                var data = {};
                for (var i = 0;i < all_names.length;i++)
                {
                    var name = all_names[i];
                    var e = document.getElementById(name);
                    data[name] = e.value;
                }
                data["sex"] = getValue("sex");
                data["stay"] = getValue("stay");
                data["invoice_type"] = getValue("invoice_type");


                var xmlhttp = new XMLHttpRequest();
                xmlhttp.open("POST", "../send/", true);
                xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xmlhttp.send(JSON.stringify(data));
                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == 4 || xmlhttp.status == 200) {
                        document.getElementById("test").style.display = "none";
                        var conf_str = xmlhttp.responseText;
                        var conf = document.getElementById("confirm");
                        conf.style.display = "block";
                        //conf.innerHTML = conf_str;
                        var info = document.getElementById("information");
                        info.innerHTML = conf_str;
                        var form = document.getElementById("test");
                        form.style.display = "none";
                    } else {
                       // alert(xmlhttp.readyState);
                       // j++;
                    }
                }
            }
        });
        validator.validate();
    }
   
</script>
</body>
</html>